// Colors

    // Primary
        $Orange: #ff7d1a;
        $Pale_Orange: #ffede0;

    // Neutral
        $Very_Dark_Blue: #1d2025;
        $Dark_Grayish_Blue: #68707d;
        $Light_Grayish_Blue: #f7f8fd;
        $White: #ffffff;
        $Black_Light_Box_Background: #00000070;

// Font 
    $Normal_Weight: 400;
    $Bold_Weight: 700;